.grid-structure{
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(12,auto, 1fr);
  grid-template-rows: repeat(16,auto);
  padding: 30px;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

.grid-ambassador-1{
  position: relative;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 9;
  background-image: url('https://res.cloudinary.com/duvckrs49/image/upload/v1546170695/Cocoon/Screenshot_2018-12-30_at_12.12.48.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.text-ambassador{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: transparent;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.text-ambassador:hover{
  background-color: rgba(50, 50, 50, 0.8);
  color: white;
}

.grid-ambassador-2{
  position: relative;
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 9;
  background-image: url('https://res.cloudinary.com/duvckrs49/image/upload/v1546170695/Cocoon/Screenshot_2018-12-30_at_12.38.03.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.grid-ambassador-3{
  position: relative;
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 9;
  background-image: url('https://res.cloudinary.com/duvckrs49/image/upload/v1546184561/Cocoon/Screenshot_2018-12-30_at_12.12.01.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.grid-ambassador-4{
  position: relative;
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 9;
  grid-row-end: 13;
  background-image: url('https://res.cloudinary.com/duvckrs49/image/upload/v1546170693/Cocoon/Screenshot_2018-12-30_at_12.13.51.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.grid-ambassador-5{
  position: relative;
  grid-column-start: 7;
  grid-column-end: 13;
  grid-row-start: 9;
  grid-row-end: 13;
  background-image: url('https://res.cloudinary.com/duvckrs49/image/upload/v1546170693/Cocoon/Screenshot_2018-12-30_at_12.51.01.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.grid-ambassador-6{
  position: relative;
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 13;
  grid-row-end: 17;
  background-image: url('https://res.cloudinary.com/duvckrs49/image/upload/v1546185355/Cocoon/Screenshot_2018-12-30_at_16.51.40.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.grid-ambassador-7{
  position: relative;
  grid-column-start: 7;
  grid-column-end: 13;
  grid-row-start: 13;
  grid-row-end: 17;
  background-image: url('https://res.cloudinary.com/duvckrs49/image/upload/v1546185355/Cocoon/Screenshot_2018-12-30_at_16.55.32.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
