<div class = 'container-banner'>
  <div class = 'text-banner'>
    About Us
  </div>
</div>

<div class = 'container-fullscreen'>
  The Team
  <img src="https://res.cloudinary.com/duvckrs49/image/upload/v1545922975/TEST-Team.png" alt="Picture of the team" class = "image-team">
</div>
<div class = 'container-fullscreen'>
  Our Shirt
  <img src="https://res.cloudinary.com/duvckrs49/image/upload/v1545927478/TEST-shirt.png" alt="Pictuer of shirt">
</div>
