<div class= "container-banner">
  <div class= "text-banner">
    The community
  </div>
</div>
<div class = 'container-grid'>
  Our Ambassadors
  <div class = 'grid-structure'>
    <div class = 'grid-ambassador-1'>
      <div class = 'ambassador-text'>
        Liza DDC
      </div>
    </div>
    <div class = 'grid-ambassador-2'></div>
    <div class = 'grid-ambassador-3'></div>
    <div class = 'grid-ambassador-4'></div>
    <div class = 'grid-ambassador-5'></div>
    <div class = 'grid-ambassador-6'></div>
    <div class = 'grid-ambassador-7'></div>
  </div>
</div>

<div class = 'container-fullscreen'>
  Our Instagram
</div>
