<div class= "container-banner">
  <div class= "text-banner">
    The community
  </div>
</div>
<div class = 'container-grid'>
  Our Ambassadors
  <div class = 'grid-structure'>
    <div class = 'grid-ambassador-1'>
      <div class = 'text-ambassador'>
        Liza DDC
      </div>
    </div>
    <div class = 'grid-ambassador-2'>
      <div class = 'text-ambassador'>
        Lisaifi
      </div>
    </div>
    <div class = 'grid-ambassador-3'>
      <div class = 'text-ambassador'>
        Victor Wegnez
      </div>
    </div>
    <div class = 'grid-ambassador-4'>
      <div class = 'text-ambassador'>
        Thibault Meulemans
      </div>
    </div>
    <div class = 'grid-ambassador-5'>
      <div class = 'text-ambassador'>
        Jo Legrelle
      </div>
    </div>
    <div class = 'grid-ambassador-6'>
      <div class = 'text-ambassador'>
        Gregsway
      </div>
    </div>
    <div class = 'grid-ambassador-7'>
      <div class = 'text-ambassador'>
        Imbaud Vrh
      </div>
    </div>
  </div>
</div>

<div class = 'container-fullscreen'>
  Our Instagram
</div>
